{% load static %}
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body >
        <!--
        <div class="page-header"><img  src="{%static 'img/way0.jpg' %}">
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <h1><a href="/">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;...그리움이 쌓이네... </a></h1>
        </div>
        -->
        
        <!-- 배경이미지 연습중임, url접근방식이  안됨   -->
        <!--<div style="background:url('../img/back_gif.gif'); height: 200px; width: 400px; border: 1px solid black;">Example of a DIV element with a background image:</div> -->
        <div style="background-image: url('');">
            <!-- image -->
        </div>
        
        <div class="cover" >
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <br>
            <h1><a href="/">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; 바람아, 구름아... 어디로 가는거니...... </a></h1>
        </div>

        <hr style="border: solid 8px green;"> <!-- 수평선 넣기 -->

        <div class="floating">
            <img src="/static/img/rosemoss.png" width="600" alt="My Image" style="width:200%; margin-top:275px; margin-left:470px;" >
            
        </div>


        <div class="content container" >
            <div class="row">
                <div class="col-md-8" style="margin-left:120px;margin-top:20px" > <!-- style="margin-left:220px;margin-top:20px" 부분은 왼쪽 마진 설정 -->
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
 
