{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}

        <!-- 이미지 출력 부분 -->
        {% for photo in post.photo_set.all%}
            <img src="{{photo.image.url}}" width="550"><br>
        {% endfor %}


        {% if user.is_authenticated %}
             <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
        <h1><a>{{ post.title }} </a></h1> <!--원래 <h1>{{ post.title }}</h1> 이것있음.포스트 타이틀부분을 더 작은 폰트로 바꾸기 위해 a를 추가 -->
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endblock %}

